In [138]:
import pandas as pd
import numpy as np

In [139]:
dat = pd.read_csv('bgg_1000_data.csv')

dat.columns= ['idx', 'name', 'published_year', 'avg_rating', 'recc_plyr', 'play_time', 'recc_age', 'weight', 'game_type',
             'mech_1', 'mech_2', 'mech_3', 'mech_4', 'mech_5']

rank = range(1,1001)
dat['rank'] = rank

In [140]:
tmpp = dat.copy()
tmpp.head(2)

,idx,name,published_year,avg_rating,recc_plyr,play_time,recc_age,weight,game_type,mech_1,mech_2,mech_3,mech_4,mech_5,rank
0,0,Brass: Birmingham,(2018),8.6,2–4 Players,60–120 Min,Age: 14+,3.89,Strategy\nView poll and results,Hand Management,Income,Loans,Market,Network and Route Building,1
1,1,Pandemic Legacy: Season 1,(2015),8.5,2–4 Players,60 Min,Age: 13+,2.83,"Strategy, Thematic\nView poll and results",Action Points,Cooperative Game,Hand Management,Legacy Game,Point to Point Movement,2

In [141]:
# 클래스? 함수?

def dat_handling(data) :
    
    # 발매 연도 열의 필요없는 소괄호 제거 및 정수화 진행
    data['published_year'] = data['published_year'].str.replace(r'\(|\)', '', regex=True).astype(int)
    
    '''
    추천 플레이어 열 만들기
    각 문자열을 나누어 1col은 min player, 3열은 max player로 나누어 저장한다.
    결측치(2인용)의 경우엔 max_player에 None이 저장된다.
    '''
    
    ply_colname = ['min_player', 'max_player']
    split_result = data['recc_plyr'].str.split('', expand=True) #모든 문자열 분리 후 각각의 열로 저장
    split_result = split_result.iloc[:, [1,3]]
    split_result.iloc[:,3] = split_result.iloc[:,3].replace(None, np.NaN)
    split_result.columns = ply_colname
    res_data = pd.concat([data, split_result], axis = 1)
    
    '''
    추천 플레이 시간 열 만들기
    플레이 시간의 숫자 처리도 동일하게 적용한다.
    '''

    ply2_colname = ['min_playtime', 'max_playtime']
    split_result2 = data['play_time'].str.split(r'[– ]', expand=True) # 문자열 ' ', '–' 기준으로 분리 후 각각의 열로 저장
    split_result2 = split_result2.iloc[:, [0,1]] # 분리 결과, 추천 시간대가 한 개인 경우는 최대 시간대가 Min 이 된다. 이를 NaN으로 변형한다.(통계에 포함되지 않도록)
    split_result2.iloc[:,1] = split_result2.iloc[:,1].replace("Min", np.NaN)
    split_result2.columns = ply2_colname
    res_data = pd.concat([res_data, split_result2], axis = 1)

    '''
    #필요없는 열 제거
    data.drop('recc_plyr', axis = 1, inplace = True)
    data.drop('playtime', axis = 1, inplace = True)
    data.drop('idx', axis = 1, inplace = True)
    '''
    return res_data

In [142]:
tmp = dat_handling(tmpp)
tmp.head()

IndexError: single positional indexer is out-of-bounds

In [119]:
split_result.iloc[12,:]

min_player       2
max_player    None
Name: 12, dtype: object

In [122]:
data = dat
    
ply_colname = ['min_playtime', 'max_playtime']

split_result2 = data['play_time'].str.split(r'[– ]', expand=True) # 문자열 ' ', '–' 기준으로 분리 후 각각의 열로 저장
split_result2 = split_result2.iloc[:, [0,1]] # 분리 결과, 추천 시간대가 한 개인 경우는 최대 시간대가 Min 이 된다. 이를 NaN으로 변형한다.(통계에 포함되지 않도록)
split_result2.iloc[:,1] = split_result2.iloc[:,1].replace("Min", np.NaN)
split_result2.columns = ply_colname
#res_data = pd.concat([res_data, split_result2], axis = 1)

split_result2.head(10)

  min_playtime max_playtime
0           60          120
1           60          NaN
2           60          120
3           90          150
4          240          480
5          120          NaN
6           60          120
7           30          120
8          150          180
9          180          240

In [12]:
mech_5_missings = dat['mech_2'].isnull().sum(); mech_5_missings

8