In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
# BGG boardgame ranking data, till 2023
data = pd.read_csv('../raw_data/BGG_data.csv', parse_dates=['published_year'] ,index_col='rank')
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1000 non-null   object
 1   published_year  1000 non-null   object
 2   avg_rating      1000 non-null   float64
 3   recc_age        1000 non-null   object
 4   weight          1000 non-null   float64
 5   game_type       1000 non-null   object
 6   mech_1          1000 non-null   object
 7   mech_2          992 non-null    object
 8   mech_3          947 non-null    object
 9   mech_4          865 non-null    object
 10  mech_5          757 non-null    object
 11  min_player      1000 non-null   int64
 12  max_player      1000 non-null   int64
 13  min_playtime    1000 non-null   int64
 14  max_playtime    1000 non-null   int64
dtypes: float64(2), int64(4), object(9)
memory usage: 125.0+ KB

In [11]:
'''
EDA - 탐색적 데이터 분석
기술통계 및 칼럼별 데이터 시각화, 상관 관계가 있을 듯한 칼럼 위주로 시각화
'''
data.describe() #기술통계

,avg_rating,weight,min_player,max_player,min_playtime,max_playtime
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,7.559200,2.679390,1.774000,4.945000,60.252000,92.667000
std,0.392185,0.809749,0.688039,6.267476,44.821529,78.595441
min,6.800000,1.020000,1.000000,1.000000,5.000000,10.000000
25%,7.300000,2.110000,1.000000,4.000000,30.000000,45.000000
50%,7.500000,2.640000,2.000000,4.000000,60.000000,75.000000
75%,7.800000,3.250000,2.000000,5.000000,70.000000,120.000000
max,9.100000,4.820000,5.000000,100.000000,480.000000,1200.000000

In [29]:
data.filter(regex = "fire", axis = 0)

: