In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [39]:
data = pd.read_csv('../raw_data/BGG_data.csv', index_col=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1000 non-null   object
 1   published_year  1000 non-null   int64
 2   avg_rating      1000 non-null   float64
 3   recc_age        1000 non-null   object
 4   weight          1000 non-null   float64
 5   game_type       1000 non-null   object
 6   mech_1          1000 non-null   object
 7   mech_2          992 non-null    object
 8   mech_3          947 non-null    object
 9   mech_4          865 non-null    object
 10  mech_5          757 non-null    object
 11  rank            1000 non-null   int64
 12  min_player      1000 non-null   int64
 13  max_player      1000 non-null   int64
 14  min_playtime    1000 non-null   int64
 15  max_playtime    1000 non-null   int64
dtypes: float64(2), int64(6), object(8)
memory usage: 125.1+ KB

In [38]:
data.describe()

,published_year,avg_rating,weight,rank,min_player,max_player,min_playtime,max_playtime
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2007.970000,7.559200,2.679390,500.500000,1.774000,4.945000,60.252000,92.667000
std,135.401036,0.392185,0.809749,288.819436,0.688039,6.267476,44.821529,78.595441
min,-2200.000000,6.800000,1.020000,1.000000,1.000000,1.000000,5.000000,10.000000
25%,2011.000000,7.300000,2.110000,250.750000,1.000000,4.000000,30.000000,45.000000
50%,2015.000000,7.500000,2.640000,500.500000,2.000000,4.000000,60.000000,75.000000
75%,2019.000000,7.800000,3.250000,750.250000,2.000000,5.000000,70.000000,120.000000
max,2023.000000,9.100000,4.820000,1000.000000,5.000000,100.000000,480.000000,1200.000000

In [ ]:
'''
이제 이 데이터를 가지고 뭘 해야 할까?
'''